.modal-content {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-header {
  border-bottom: 0px !important;
}

.modal-header .btn-close {
  display: none;
}
